.score-container.MuiBox-root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .score-title.MuiTypography-root {
    margin-bottom: 146px;
  }

  .score.MuiBox-root {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;

    color: #354153;
    margin-bottom: 72px;
  }

  .back-to-home.MuiButton-root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px 18px;

    background: #3A7859;
    border-radius: 18px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

    &:hover {
      background: #2D6A4C;
    }

    &.Mui-disabled {
      background: #F6F7F8;
      color: #C4C4C4;
    }
  }
}